/* 
body {
    display:flex;
    flex-direction: column;
}
.header {
    background-color: #6685a7;
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 65px;
}

div h1 {
    font-size: 25px;
    padding: 5px;
    border: 2px solid #93ACB5;
    background-color: #93ACB5;
    font-family: Verdana, sans-serif;
    
}

.main {
    display: flex;
    width: 100%;
    margin: 0 auto;
    max-width: 1600px;
}

.divheader {
    padding-left: 15px;
}

.navlink {
    padding: 5px;
}

.navul {
    list-style-type: none;
    display: flex;
    
    
}

.navli {
    padding: 6px;
    margin: 6px;
    background-color: #93ACB5;
    text-align: center;
    font-family: Verdana, sans-serif;
 
}

.navli a {
    text-decoration: none;
}

.heroimg {
    background-image: url(../assets/images/heroimage.jpg);
    height: 200px;
    position: relative;
    display: flex;

}

.heroimg h2 {
    display: flex;
    position: relative;
    justify-content: flex-end;
    padding: 120px 200px 0 0;
    margin: 0px;
    
}

.aside-left {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 25%;
    
}

.aside-ldiv {
    margin-left: 24%;
    margin-bottom: 10%;
    padding: 5%;
    font-size: 25px;
    height: 33%;
    font-family: Verdana, sans-serif;
}


#AboutMe {
    flex: .4;
    border-right: 2px solid #6685a7;
}

#MyProjects {
    flex: 2;
    border-right: 2px solid #6685a7;
}

#ContactMe {
    flex: 0.2;
    border-right: 2px solid #6685a7;
}

.aside-right {
    width: 75%;

}

.aside-rp {
    padding:10px;
    Margin-bottom: 35px;
    font-family: Verdana, sans-serif;
}

.contact-me {
    display: flex;
    justify-content: space-evenly;
    background-color: #6C756B;
}

.contact-me a {
    text-decoration: none;
}

.contact-me-div {
    padding: 6px;
    border: 2px solid #96C5F7;
    margin: 6px;
    background-color: #93ACB5;
    font-family: Verdana, sans-serif;
    
}

img {
    width: 100%;
    object-fit: cover;
}

.bigproj{
    display:flex;

}

figure {
    position: relative;
}

figure h2 {
    position: absolute;
    bottom: 20px;
    background-color: #96C5F7;
    padding: 17px 10px;
}

.smallproj {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 15px;

}
.smallfig1 {
    border: 2px solid #96C5F7;
;
}

.smallfig2 {
    border: 2px solid #96C5F7;

}

.smallfig3 {
    border: 2px solid #96C5F7;

}

.smallfig4 {
    border: 2px solid #96C5F7;

}

@media (max-width: 425px) {
    .main {
        margin: 0 5%;
    }
    figure img {
        height: 125px;
    }
    .aside-right {
        width: 100%;
    }
    .aside-left {
        width: 0%;
        position: relative;
    }
    .bigproj,
    .smallproj {
        flex-direction: column;
    }
    .aside-rdiv{
        margin-top: 4rem;
        width: 50%;
        position: relative;
        right: -7rem;
        bottom: 3rem;
    }
    #AboutMe,
    #ContactMe {
        border: none;
    }

    #MyProjects {
        border: none;
        position: relative;
        top: 25rem
    }
} */