.header {
    background-color: crimson;
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 65px;
}

.main {
    display: flex;

}

.divheader {
    padding-left: 15px;
}

.navlink {
    position: relative;
    display: flex;

}

.navul {
    list-style-type: none;
    display: flex;
    
}

.navli {
    padding: 6px;
}

.heroimg {
    background-image: url(../assets/images/ok.jpg);
    height: 200px;
    position: relative;

}

.heroimg h2 {
    display: flex;
    position: relative;
    justify-content: flex-end;
    padding: 120px 200px 0 0;
    margin: 0px;
    
}

.aside-left {
    border-right: 2px solid blue;
    padding: 3%;
    width: 15%;
}

.aside-rdiv {
    width: 85%;
}

@media screen and (min-width: 768px) {

    main,
    .navlink {
      flex-direction: column;
    }

    .navlink {
        order: 2;
    }
}